version: '3'
services:
    measure-reverse-proxy:
        container_name: measure-reverse-proxy
        build: 
            context: ./measure-reverse-proxy
        networks:
            - default
        expose:
            - 80
        ports:
            - 80:80
    measureplatform-app:
        container_name: measureplatform-app
        build: 
            context: ./measure-platform-for-databio
        entrypoint: ["./wait-for-it.sh", "mysql-db:3306", "--", "java","-jar","measure-platform-for-databio-1.0.0.war"]
        networks:
            - default
        depends_on:
            - measure-reverse-proxy
            - mysql-db
            - elasticsearch
            - kibana
            - hawk-server
        environment:
            ## The Host IP address configuration (optional) 
            # - HOST_IP_ADDR=
            ## Docker base image jvm memory allocation (optional)
            # - _JAVA_OPTIONS=-Xmx512m -Xms256m
            ## Spring data jpa configuration (optional)
            # - SPRING_DATASOURCE_URL=jdbc:mysql://mysql-db:3306/measureplatform?serverTimezone=UTC&useSSL=false&useUnicode=true&characterEncoding=utf8&allowPublicKeyRetrieval=true
            # - MYSQL_USER=root
            # - MYSQL_ALLOW_EMPTY_PASSWORD=yes
            # - MYSQL_DRIVER=com.mysql.jdbc.Driver
            ## MeasurePlatform packaging (optional)
            # - ZIP_URL=https://github.com/measureproduct/MeasurePlatformForDatabio/releases/download/v1.0.0/MeasurePlatformForDataBio-1.0.0.zip
            # - ZIP_FILE=MeasurePlatformForDataBio-1.0.0.zip
            # - JAR_FILE=measure-platform-for-databio-1.0.0.war
            ## Datasource catalogue (optional)
            # - ZIP_CATALOGUE_URL=https://github.com/measureproduct/MeasurePlatformForDatabio/releases/download/v1.0.0/DataBioDataSourceCatalog.zip
            # - ZIP_CATALOGUE_FILE=DataBioDataSourceCatalog.zip
            ## Datasources storage path (optional)
            # - MEASURE_PLATFORM_STORAGE_MEASURE=/home/PackagedPlatform/storage/measures
            # - MEASURE_PLATFORM_STORAGE_APPLICATION=/home/PackagedPlatform/storage/applications
            ## Elasticsearch configuration (It should take the value of the elasticsearch environment variable "cluster.name")
            - ELASTICSEARCH_CLUSTER_NAME=docker-cluster
            ## Mailing service configuration (mandatory)
            - SPRING_MAIL_USERNAME=
            - SPRING_MAIL_PASSWORD=
            - SPRING_MAIL_HOST=
            - SPRING_MAIL_PORT=
            - SPRING_MAIL_PROTOCOL=
            - SPRING_MAIL_TLS=
            - SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=
            - SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=
            - SPRING_MAIL_PROPERTIES_MAIL_SMTP_SSL_TRUST=
        volumes:
            - measuresdata:/home/PackagedPlatform/storage/measures
        expose:
            - 8080
    hawk-server:
        container_name: hawk-server
        build: 
            context: ./hawk-server
        networks:
            - default
       # environment:
            ## The Host IP address configuration (optional) 
            # - HOST_IP_ADDR=
            ## Docker base image jvm memory allocation (optional)
            # - _JAVA_OPTIONS=-Xmx512m -Xms256m
            # Hawk packaging
            # - ZIP_URL=https://github.com/mondo-project/mondo-hawk/releases/download/v1.2.0-rc3/hawk-server-nogpl_20190202170100-linux.gtk.x86_64.zip
            # - ZIP_FILE=hawk-server-nogpl_20190202170100-linux.gtk.x86_64.zip
            # - SCRIPT_FILE=hawk-server-nogpl_20190202170100/run-server.sh
        expose:
            - 8089
        #ports:
        #    - 8089:8089
        # volumes:
        #    - ./data/hawk-instances:/home/hawk-instances
    mysql-db:
        container_name: mysql-db
        image: mysql:5.7
        depends_on: 
            - measure-reverse-proxy
        networks:
            - default
        environment:
            ## MySQL server configuration (mandatory)
            - MYSQL_USER=root
            - MYSQL_ALLOW_EMPTY_PASSWORD=yes
            - MYSQL_DATABASE=measureplatform
        volumes:
            - ./data/sql-scripts:/docker-entrypoint-initdb.d/
            - mysqldata:/var/lib/mysql/
        expose:
            - 3306
        command: mysqld --lower_case_table_names=1 --skip-ssl --character_set_server=utf8mb4 --explicit_defaults_for_timestamp
    elasticsearch:
        container_name: elasticsearch
        image: docker.elastic.co/elasticsearch/elasticsearch:6.5.4
        depends_on: 
            - measure-reverse-proxy
        networks:
            - default
        environment:
            cluster.name: docker-cluster
            ES_JAVA_OPTS: -Xms2g -Xmx2g
            discovery.type: single-node
        volumes:
            - esdata:/usr/share/elasticsearch/data
        expose:
            - 9200
            - 9300
    kibana:
        container_name: kibana
        image: docker.elastic.co/kibana/kibana:6.5.4
        depends_on: 
            - measure-reverse-proxy
        networks:
            - default
        environment:
            SERVER_HOST: 0.0.0.0
            ELASTICSEARCH_URL: http://elasticsearch:9200
            SERVER_BASEPATH: /kibana
        depends_on:
            - elasticsearch
        expose:
            - 5601
volumes:
    esdata:
        driver: local
    mysqldata:
        driver: local
    measuresdata:
        driver: local
